<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="2.0" package="LuidiOliveiraSolucoes.PropagaMed" android:versionCode="2">
	<uses-sdk android:minSdkVersion="29" android:targetSdkVersion="33" />
	<application android:label="PropagaMed.Android" android:icon="@mipmap/propagamed_new_logo"></application>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
</manifest>